<template>
  <div class="bg-[#FFB775] rounded-2xl w-full relative overflow-hidden -z-0 lg:px-[85px] px-4">
    <div class="flex flex-col-reverse lg:flex-row items-center gap-8 mt-8 lg:mt-4">
    
      <div class="basis-5/12 relative flex flex-col lg:justify-end justify-center text-center lg:text-start">
        <h1 class=" text-4xl lg:text-[52px]">
          Adoption
        </h1>
        <h2 class=" text-2xl lg:text-3xl">We need help. so do they.</h2>
        <p class="text-neutral text-xs lg:text-base">
          Adopt a pet and give it a home,
it will be love you back unconditionally.
        </p>

        <div class="flex gap-2 lg:mt-3 mt-3 justify-start">
          <OutlinedButton
            out-line-color="border-primary"
            label="View Intro"
            icon="/src/assets/icons/Play_Circle.png"
          />
          <RoundedButton bg-color="bg-primary" label="Explore Now" />
        </div>
        <BigSquare
          bg-color="bg-foreground"
          class=" w-[690px] absolute lg:rotate-[-20deg] rotate-[-80deg] lg:-top-[380px] lg:-left-52 -top-[450px] -left-16"
        />
      </div>

      <div class="basis-7/12 relative">
        <img
          src="/src/assets/img/pngegg (4) 1.png"
          alt=""
          class=" h-full scale-110"
        />
        <BigSquare
          bg-color="bg-foreground"
          class=" bg-opacity-40 tw-[787px] absolute rotate-[-40deg] lg:top-[130px] lg:-left-[-280px]  top-[230px] -right-[420px]"
        />
      </div>

    </div>
  </div>
</template>

<script setup lang="ts">
import BigSquare from '../background/BigSquare.vue';
import OutlinedButton from '../OutlinedButton.vue';
import RoundedButton from '../RoundedButton.vue';
</script>
