<template>
  <div class="bg-[#003459] rounded-2xl w-full relative overflow-hidden -z-0 lg:px-[85px] px-4">
    <div class="flex flex-col-reverse lg:flex-row items-center gap-8 mt-8 lg:mt-4">
      <div class="basis-7/12 relative">
        <img
          src="/src/assets/img/horizontal-shot-adult-girl-jeans-overalls-kissing-cute-puppy-while-raising-it-air-young-girl-being-love-with-her-dog-clothed-trendy-jumper-display-affection 3.png"
          alt=""
          class=" pt-8"
        />
        <BigSquare
          bg-color="bg-primary"
          class="w-[890px] lg:block absolute rotate-[-70deg] lg:top-[230px] lg:-right-[70px]  top-[230px] -right-[420px]"
        />
      </div>

      <div class="basis-5/12 relative flex flex-col lg:justify-end justify-center text-center lg:text-end">
        <h1 class=" text-4xl lg:text-[52px]">
          One more friend
          
        </h1>
        <h2 class=" text-2xl lg:text-4xl">Thousands more fun!</h2>
        <p class="text-neutral text-xs lg:text-base">
          Having a pet means you have more joy, a new friend, a happy person who
          will always be with you to have fun. We have 200+ different pets that
          can meet your needs!
        </p>

        <div class="flex gap-2 lg:mt-1 mt-3 justify-end">
          <OutlinedButton
            out-line-color="border-primary"
            label="View Intro"
            icon="/src/assets/icons/Play_Circle.png"
          />
          <RoundedButton bg-color="bg-primary" label="Explore Now" />
        </div>
        <BigSquare
          bg-color="bg-foreground"
          class=" w-[690px] absolute lg:rotate-[-70deg] rotate-[-80deg] lg:-top-[380px] lg:-right-52 -top-[450px] -right-16"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import BigSquare from '../background/BigSquare.vue';
import OutlinedButton from '../OutlinedButton.vue';
import RoundedButton from '../RoundedButton.vue';
</script>
