<template>
   <Banner/>
   <WhatsNew/>
   <div class=" lg:px-large-page px-4 lg:pt-[30px] pt-5">
   <OneMoreFriendBanner/>
   </div>
   <OurProduct class=" hidden lg:block"/>
   <PetSeller class=" hidden lg:block"/>
   <PetKnowledge/>
   <Footer/>
</template>

<script lang="ts" setup>
import Banner from '@/components/Banner.vue';
import WhatsNew from '@/components/WhatsNew.vue';
import Footer from '@/components/Footer.vue';
import OneMoreFriendBanner from '@/components/sub-banner/OneMoreFriendBanner.vue';
import OurProduct from '@/components/OurProduct.vue';
import PetKnowledge from '@/components/PetKnowledge.vue';
import PetSeller from '@/components/PetSeller.vue';

</script>