<template>
  <div
    v-if="loading"
    class="animate-pulse bg-gray-300 h-full w-full rounded"
  ></div>
  <div
    v-else
    class="flex flex-col rounded-2xl card-shadow p-3 w-full bg-[#FDFDFD] cursor-pointer"
  >
   <div class="rounded-2xl overflow-hidden">
    <img :src="img" class="w-full aspect-video object-cover object-center" />
    </div>

    <div class=" bg-[#00A7E7] rounded-full px-2 py-1 w-fit text-white mt-3">Pet knowledge</div>
    <p class="text-neutral font-bold mt-4">{{ title }}</p>

    <p class="text-sm  mt-2 line-clamp-3">{{ desc }}</p>
  </div>
</template>

<script setup lang="ts">
interface Props {
  img: string;
  title: string;
  desc: string;
  loading: boolean;
}
defineProps<Props>();
</script>
