<template>
    <div class=" flex flex-col">
        <h5>{{ title }}</h5>
        <h4>{{ subTitle }}</h4>
    </div>
</template>

<script setup lang="ts">
interface Props {
        title: string,
        subTitle: string,
    };
defineProps<Props>()
</script>