<template>
  <div
    v-if="loading"
    class="animate-pulse bg-gray-300 h-full w-full rounded"
  ></div>
  <div
    v-else
    class="flex flex-col rounded-2xl card-shadow p-3 w-full bg-[#FDFDFD] cursor-pointer"
  >
    <img :src="img" class="w-full aspect-square rounded-2xl" />
    <p class="text-neutral font-bold mt-4">{{ title }}</p>
    <ul class="flex lg:gap-3 flex-wrap">
      <li
        v-for="(spec, i) in specs"
        :key="i"
        class="text-neutral flex gap-2 mt-2 text-xs"
      >
        <span>{{ spec.name }}:</span>
        <span class="font-bold">{{ spec.value }}</span>
        <div v-if="i + 1 != specs.length">&#x2022;</div>
      </li>
    </ul>
    <p class="text-sm font-bold mt-2">{{ formatCurrency(price) }}</p>
    <div v-if="badge" class="bg-secondary flex rounded-md w-full px-3 py-2 items-center gap-3 mt-2">
    
      <img src="/src/assets/icons/gift.svg" alt="" />
      &#x2022;
      <p class=" font-bold text-primary">Free Toy & Free Shaker</p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { formatCurrency } from "@/functions/currency";
import { Spec } from "@/model/OurPets.model";

interface Props {
  img: string;
  title: string;
  specs: Spec[];
  price: number;
  loading: boolean;
  badge?: string;
}
defineProps<Props>();
</script>
