<template>
  <div>
    <ul class=" flex gap-5 font-bold text-primary ">
        <li v-for="(list, i) in listNavbar" :key="i">
          <a  @click="$router.push(list.path)" class="hover:text-secondary cursor-pointer">{{ list.name }}</a>
        </li>
    </ul>
  </div>
</template>
<script lang="ts" setup>
import { listNavbar } from "@/functions/listNavbar";
import { reactive } from "vue";

</script>
