<template>
  <footer
    class="w-full h-fit bg-foreground lg:px-large-page px-4 lg:pt-[80px] pt-10 relative z-0 overflow-y-hidden rounded-t-3xl overflow-hidden mt-8"
  >
    <div
      class="bg-primary rounded-2xl p-8 flex flex-col lg:flex-row w-full gap-8"
    >
      <h4 class="text-white text-2xl basis-5/12">
        Register now so you don't miss our programs
      </h4>
      <div
        class="bg-white text-white basis-7/12 rounded-lg flex flex-col lg:flex-row p-2 gap-3"
      >
        <input
          type="email"
          class="w-full border border-neutral h-11 rounded-lg outline-none text-sm px-7 text-neutral"
          placeholder="Enter your Email"
        />
        <RoundedButton class="basis-4/12" label="Subcribe Now" rounded="lg" />
      </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-between items-center gap-2 mt-10">
      <ul class="flex gap-8 text-primary">
        <li v-for="(list, i) in listNavbar" :key="i">
          <a @click="$router.push(list.path)" class="hover:text-secondary cursor-pointer">{{ list.name }}</a>
        </li>
      </ul>

      <ul class="flex gap-8 text-primary">
        <li v-for="(list, i) in listMediaSocial" :key="i">
          <a :href="list.path" target="_blank">
          <img :src="`/src/assets/icons/${list.name}`" alt="">
          </a>
        </li>
      </ul>
    </div>

    <hr class=" mt-10">

    <div class=" my-10 flex lg:justify-between items-center gap-2 flex-col lg:flex-row">
        <p class=" order-last lg:order-first text-neutral text-sm">© 2022 Monito. All rights reserved.</p>
    <img class=" mb-5 lg:mb-0" src="/src/assets/img/Logo-Monito.svg" alt="Monito's Logo" />

        <div class=" flex gap-3">
            <a class=" text-neutral text-sm" href="#">Terms of Service</a>
            <a class=" text-neutral text-sm" href="#"> Privacy Policy</a>
        </div>
    </div>
  </footer>
</template>

<script setup lang="ts">
import { listNavbar, listMediaSocial } from "@/functions/listNavbar";
import RoundedButton from "./RoundedButton.vue";


</script>
