<template>
    <section id="ourproduct" class="lg:px-large-page px-4 lg:pt-[60px] py-5">
        <div class=" flex justify-between items-center">
            <CardSectionTitle title="Hard to choose right products for your pets?" sub-title="Our Products"/>
            <OutlinedButton class="hidden lg:flex" label="View more" icon="/src/assets/icons/Chevron_Right_MD.svg"/>
        </div>
        <div class=" grid grid-cols-2 lg:grid-cols-4 lg:gap-5 gap-3 mt-5 lg:mt-7">
            <Card v-for="prod in ourProduct" :loading="loading" :price="prod.price" :img="prod.img" :title="prod.title" :specs="prod.specs" :badge="prod.badge"/>
        </div>
        <OutlinedButton class="flex lg:hidden w-full justify-center" label="View more" icon="/src/assets/icons/Chevron_Right_MD.svg"/>

    </section>
</template>

<script lang="ts" setup>
import { useOurProductStore } from '@/stores';
import Card from './card-section/Card.vue';
import CardSectionTitle from './card-section/CardSectionTitle.vue';
import OutlinedButton from './OutlinedButton.vue';
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';

const ourProductStore = useOurProductStore();
const { getDataProduct } = ourProductStore;
const { ourProduct, loading  } = storeToRefs(ourProductStore);

onMounted(() => {
    getDataProduct()
})
</script>