<template>
    <section id="ourproduct" class="lg:px-large-page px-4 lg:pt-[60px] py-5">
        <div class=" flex justify-between items-center">
            <CardSectionTitle title="You already know ?" sub-title="View More"/>
            <OutlinedButton class="hidden lg:flex" label="View all our sellers" icon="/src/assets/icons/Chevron_Right_MD.svg"/>
        </div>
        <div class=" grid grid-cols-1 lg:grid-cols-3 lg:gap-5 gap-3 mt-5 lg:mt-7">
            <CardPetKnowlege v-for="know in petKnowledge" :loading="loading" :img="know.img" :title="know.title" :desc="know.desc"/>
        </div>
        <OutlinedButton class="flex lg:hidden w-full justify-center" label="View more" icon="/src/assets/icons/Chevron_Right_MD.svg"/>

    </section>
</template>

<script lang="ts" setup>
import { useOurpetKnowledgeStore } from '@/stores';
import CardSectionTitle from './card-section/CardSectionTitle.vue';
import OutlinedButton from './OutlinedButton.vue';
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';
import CardPetKnowlege from './card-section/CardPetKnowlege.vue';

const ourpetKnowledgeStore = useOurpetKnowledgeStore();
const { getDataPetsKnowledge } = ourpetKnowledgeStore;
const { petKnowledge, loading  } = storeToRefs(ourpetKnowledgeStore);

onMounted(() => {
    getDataPetsKnowledge()
})
</script>