<template>
<section id="petseller" class="lg:px-large-page px-4 lg:pt-[60px] py-5">
    <div class="flex justify-between items-center">
    <div class=" flex items-center gap-1">
        <span class="text-neutral">Proud to be part of</span
    ><span class="text-2xl font-bold text-primary">Pet Sellers</span>
    </div>
    <OutlinedButton
        class="hidden lg:flex"
        label="Useful pet knowledge"
        icon="/src/assets/icons/Chevron_Right_MD.svg"
    />
    </div>
    <div class="grid grid-cols-7 justify-between lg:gap-5 gap-3 mt-5 lg:mt-7">
    <img class=" w-full p-8" v-for="img in sellers" :src="img" alt="" />
    </div>
    
    <AdoptionBanner/>

</section>
</template>

<script lang="ts" setup>
import { useOurpetKnowledgeStore } from "@/stores";
import OutlinedButton from "./OutlinedButton.vue";
import { storeToRefs } from "pinia";
import { onMounted, reactive } from "vue";
import AdoptionBanner from "./sub-banner/AdoptionBanner.vue";

const ourpetKnowledgeStore = useOurpetKnowledgeStore();
const { getDataPetsKnowledge } = ourpetKnowledgeStore;
const { petKnowledge, loading } = storeToRefs(ourpetKnowledgeStore);

const sellers = reactive([
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126357/monito/image_11_xsnclw.png",
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126356/monito/image_10_k9axzo.png",
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126355/monito/image_9_meohos.png",
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126354/monito/image_8_getpot.png",
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126353/monito/image_7_i6z4uf.png",
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126353/monito/image_6_b1zvfo.png",
"https://res.cloudinary.com/dwlgplrj9/image/upload/v1712126352/monito/image_4_ihmofo.png",
]);

onMounted(() => {
getDataPetsKnowledge();
});
</script>