<template>
    <section id="ourpets" class="lg:px-large-page px-4 lg:pt-[60px] py-5">
        <div class=" flex justify-between items-center">
            <CardSectionTitle title="Whats new?" sub-title="Take a look at some of our pets"/>
            <OutlinedButton class="hidden lg:flex" label="View more" icon="/src/assets/icons/Chevron_Right_MD.svg"/>
        </div>
        <div class=" grid grid-cols-2 lg:grid-cols-4 lg:gap-5 gap-3 mt-5 lg:mt-7">
            <Card v-for="pet in ourPets" :loading="loading" :price="pet.price" :img="pet.img" :title="pet.title" :specs="pet.specs"/>
        </div>
        <OutlinedButton class="flex lg:hidden w-full justify-center mt-6" label="View more" icon="/src/assets/icons/Chevron_Right_MD.svg"/>

    </section>
</template>

<script lang="ts" setup>
import { useOurPetsStore } from '@/stores';
import Card from './card-section/Card.vue';
import CardSectionTitle from './card-section/CardSectionTitle.vue';
import OutlinedButton from './OutlinedButton.vue';
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';

const ourPetsStore = useOurPetsStore();
const { getDataPets } = ourPetsStore;
const { ourPets, loading  } = storeToRefs(ourPetsStore);

onMounted(() => {
    getDataPets()
})
</script>