/* @import './base.css'; */
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply font-extrabold text-primary lg:text-[60px] text-[46px] leading-[68px] 
}


h2 {
    @apply font-bold text-primary lg:text-[46px] text-[28px] leading-[60px]
}

h4 {
    @apply font-bold text-primary lg:text-[24px] text-[20px] lg:leading-[36px] leading-[32px]
}

h5 {
    @apply text-black text-sm lg:text-base leading-[20px]
}

.card-shadow{
    box-shadow: 0px 4px 28px -2px #00000014;
}

.banner-gradient{
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}