<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<template>
  <div class="overflow-hidden  max-w-[1920px] mx-auto relative">
    <RouterView />
  </div>
</template>

<style scoped></style>
